
{% extends 'base.html.twig' %}

{% block title %}Modification de profil{% endblock %}

{% block body %}
<section class ="container">
    <div class ="container">
        <div class="row">
            <div class ="col">

<br><br><br>
    <h1>Changer vos informations personelles</h1>
    
<br><br>

    {{ include('profile/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_profile_show') }}">Revenir au profil</a>

</div>
</div>
</div>
</section>

{% endblock %}
