{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
<style>
#calendrier{
    width:80%;
    margin:auto;
}
</style>
{% endblock %}

{% block body %}

<div id="calendrier"></div>
{% endblock %}

{% block javascripts %}
<script>
window.onload=()=>{
    let calendarElt = document.querySelector("#calendrier")

    let calendar = new FullCalendar.Calendar(calendarElt, {
       initialView: 'timeGridWeek',
       locale: 'fr',
       timeZone:'Europe/Paris',
       slotMinTime: "08:00:00", 
       slotMaxTime: "19:00:00", 
       hiddenDays: [ 0, 6 ], 
       slotDuration: '01:00:00', 
       headerToolbar: {
       start: 'prev,next today',
       center: 'title',
       end: 'dayGridMonth,timeGridWeek'
       },
       events: {{data|raw }},
       
       
    })

    calendar.on('eventChange', (e)=> {
      let duration = e.event.end - e.event.start;

     
      let durationInHours = duration / 1000 / 60 / 60;

      
      if (durationInHours < 1 || durationInHours > 4) {
       
        e.revert();
      }

      console.log(e)
    })

    calendar.render()
}
</script>
{% endblock %}
