{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}


<div class="container">
<h2>Livres disponibles</h2>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Année de publication</th>
            <th>Résumé</th>
            <th>Note</th>
            <th>État</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}
